body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/*Float property on images*/
.left {
	width: 300px;
	float: left;
	margin: 15px;
}

.right {
	width: 300px;
	float: right;
	margin: 15px;
}