/*Fixed navbar*/
nav {
	position: relative;
	text-align: left;
	background-color: grey;
	padding: 10px;
	height: 70px;
}

nav img {
	position: absolute;
	left: 30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

nav ul {
	position: absolute;
	left: 70px;
}

nav li {
	display: inline;
	list-style-type: none;
}

nav li::after {
	content: " | ";
}

/*Elements in main*/

/*Green box*/
.green-box {
	width: 600px;
	height: 300px;
	border: 10px green dotted;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	position: relative;
}

/*Images into green box*/
.green-box img {
	height: 200px;
	width: 200px;
}

.cat {
	position: absolute;
	left: -100px;
	top: -100px;
}

.dog {
	position: absolute;
	right: -100px;
	bottom: -100px;
}

